[run]
parallel = True
concurrency = multiprocessing
branch = True
include =
    ka_be_monolith/api/*
    ka_be_monolith/apps/*
    ka_be_monolith/clients/*
    ka_be_monolith/drf/*
    ka_be_monolith/event_handlers/*
    ka_be_monolith/libs/*
    ka_be_monolith/services/*
    ka_be_monolith/tasks/*
    ka_be_monolith/utils/*
omit =
    */__init__.py
    */fixtures/*
    */migrations/*
    */models.py
    */config.py
